@tailwind base;

@tailwind components;

@tailwind utilities;

* {
  @apply antialiased;
}

html {
  /* background-color: #f7f7f2; */
  @apply bg-gray-100;
}

h2 {
  @apply text-xl mt-6;
  @apply font-semibold;
}

blockquote {
  @apply border-l border-green-500 p-4 my-2 border-l-4 bg-gray-50 text-sm;
}

blockquote p {
  @apply my-0 text-base !important;
}

table {
  @apply table-auto;
}

tr {
  @apply border-b;
}

td {
  @apply px-4;
}

.post h1 {
  @apply text-3xl;
  @apply font-semibold;
  @apply mb-3;
}

.post a {
  color: #001665;
}

.post a.title {
  @apply text-black;
}
.post p {
  @apply my-4;
  @apply text-lg;
  @apply text-gray-900;
}

/* #logo {
  transform: rotate(2deg);
  transition: 100ms transform ease-in-out;
}

#logo:hover {
  transform: rotate(-1deg);
} */
